<div class="limiter">
    <div class="container-login100 mt-3">
        <div class="wrap-login100 border border-success">
            <div class="login100-form-title" style="background-image: url(img/bg-01.jpg);">
                <span class="login100-form-title-1"></span>
            </div>

            <form class="login100-form validate-form" autocomplete="off" action="/login" method="POST">
                <div class="wrap-input100 validate-input m-b-26" data-validate="E-mail es requerido">
                    <span class="label-input100">E-mail:</span>
                    <input class="input100" type="text" name="email" placeholder="Tu e-mail">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-18" data-validate="Contraseña es requerida">
                    <span class="label-input100">Contaseña</span>
                    <input class="input100" type="password" name="password" placeholder="Tu contraseña">
                    <span class="focus-input100"></span>
                </div>

                <div class="flex-sb-m w-full p-b-30">
                    <div class="contact100-form-checkbox">
                        <a href="/create-account" class="txt1">
                            Crear una cuenta
                        </a>
                    </div>

                    <div>
                        <a href="/reset-password" class="txt1">
                            Olvidé mi contraseña
                        </a>
                    </div>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Iniciar sesión
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>