<div class="limiter">
    <div class="container-login100 mt-3">
        <div class="wrap-login100 border border-info">
            <div class="login100-form-title" style="background-image: url(/img/bg-01.jpg);">
                <span class="login100-form-title-1"></span>
            </div>

            <form class="login100-form validate-form" autocomplete="off" method="POST">
                <div class="wrap-input100 validate-input m-b-26" data-validate="E-mail es requerido">
                    <span class="label-input100">Contraseña:</span>
                    <input class="input100" type="password" name="password" placeholder="Escribe tu nueva contraseña">
                    <span class="focus-input100"></span>
                </div>
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Guardar contraseña
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>